




*, *::before, *::after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	list-style: none;
	font-size:16px;
	font-family: "Pretendard Variable", Pretendard, sans-serif;
	color:black;
    line-height: inherit;
	text-decoration: none;
	word-break: keep-all;
}

img {
	max-width: 100%;
	width:100%;
	height: auto;
	display: block;
}

body{max-width:1920px; margin:0px auto; background-color:black;}





/* ==================================================================================================== */





.section_title{}
.section_title_frame{ width:100%; }
.section_title_text{ color:white; text-align:center; font-size:36px; font-weight:700; padding:50px 0px; }



@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 767px) {
.section_title_text{ font-size:calc(3.57vw + 8.57px); }
}


/* ==================================================================================================== */






.section_content{}
.section_content_frame{ margin:0px auto; width:1140px; padding-bottom:100px; }
.section_content_img{ max-width:800px; width:100%; }
.section_content_vid_wrap{ max-width:800px; width:100%; overflow: hidden; }
.section_content_vid{ position: relative; height: 0; padding-bottom: 56.25%; }
.section_content_vid iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


@media screen and (max-width: 1199px) {
	
.section_content_frame{ margin:0px auto; width:100%; max-width:900px; padding-bottom:100px; }
.section_content_img{ width:100%; max-width:900px; }
.section_content_vid_wrap{ width:100%; max-width:900px; }

}

@media screen and (max-width: 767px) {
	
}



/* ==================================================================================================== */




.section_buttons{ position:fixed; top:150px; left: 50%; transform: translateX(calc(-50% + 410px)); }
.section_buttons_frame{ background-color:white; width:300px; border-radius:5px; padding:10px; }
.section_buttons_a{ width:100%; border-radius:5px; background-color:#3669cd; color:white; margin-bottom:10px; padding:15px 0px; text-align:center; font-weight:700; }
.section_buttons_b{ width:100%; border-radius:5px; background-color:#fee500; color:#543505; text-align:center; padding:15px 0px; font-weight:700; }




@media screen and (max-width: 1199px) {
	
.section_buttons{ position:fixed; width:100%; top:unset; bottom:0px; left: 50%; transform: translateX(calc(-50%)); }
.section_buttons_frame{ background-color:white; width:100%; border-radius:0px; display:flex; justify-content: center; width:100%; gap:10px; }
.section_buttons_frame a{ width:48%; max-width:300px; }
.section_buttons_a{ margin-bottom:0px; }


	
	
}



@media screen and (max-width: 767px) {
	
}



/* ==================================================================================================== */


